#name{
    text-align: center;
    color: rgb(0, 154, 201);
}

#img{
    padding: 0.5cm;
}
#im{
    padding: 0.3cm 9cm;
}
#aa{
   text-align: left;
}
#a{
    padding-bottom: 2cm;
    text-align: center;
}
