#name{
    text-align: center;
    color: rgb(0, 154, 201);
}

#img{
    padding: 0.5cm;
}
#im{
    padding: 0.3cm 9cm;
    display: flex;
    text-justify: auto;
}

#aa{
   display: flex;
   text-justify:right;
   padding-left: 6cm;
}
#a{
text-align: center;
    
}
#lst{
    padding-right:5cm; 

}
